.footer-content {
  background-color: #0022ff;
  color: white;
}

footer .content{
  min-height: calc(100vh - 80vh - 80px);
}

footer .logo{
  font-size: 2rem;
  text-transform: uppercase;
}

.footer-widget{
  min-width: 200px;
}
