<footer>
  <div class="footer-content">
    <div class="content">
      <div class="row align-item-center gap-10">
        <div class="footer-widget">
          <div class="footer-widget flex-1 wrap">
            <h4 class="widget-title">Company</h4>
            <ul>
              <li><a href="#">A PROPOS</a></li>
              <li><a href="#">Infos Livraison</a></li>
              <li><a href="#">Réglements</a></li>
              <li><a href="#">Nous Contacter</a></li>
              <li><a href="#">Conditions générales de vente</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
