<div class="product-items" (click)="handleClickProduct(product)">
  <div class="product-image">
    <img src="{{product? product?.imageUrl : ''}}"
         height="300"
         width="300"
         [alt]="product?.name">,
  </div>
  <div class="product-details">
    <div class="product-name">
      <h2>{{product?.name?.substring(0,30)}} {{product && product.name[31] ? "..." : null}}</h2>
    </div>
    <div class="product-price">
      <h3>€ {{product?.sold_price}}</h3>
      <del>
        <h3>€ {{product?.regular_price}}</h3>
      </del>
    </div>
  </div>

</div>
